<p>I currently work in the digital marketing industry providing web and marketing analytics solutions. I'm also a <a title="Sitecore Training and Certification Exam" href="http://jasoncarter.io/sitecore-training-and-certification-exam/" target="_blank">Sitecore CEP/XP 7.0 Certified .NET Web developer</a>.</p>
<p>Over the years, I've worked in desktop, web and mobile environments. I've dabbled in iOS programming, BlackBerry 10 and maintained a few blogs.</p>

<h3>Fun Facts</h3>
<ul>
<li><strong>Books</strong>: <a href="http://en.wikipedia.org/wiki/The_Forever_War" target="_blank">The Forever War</a> | <a href="http://en.wikipedia.org/wiki/Ender%27s_Game" target="_blank">Ender's Game</a></li>
<li><strong>Movies</strong>: <a href="http://en.wikipedia.org/wiki/2001:_A_Space_Odyssey_(film)" target="_blank">2001: A Space Odyssey</a> | <a href="http://en.wikipedia.org/wiki/Blade_Runner" target="_blank">Blade Runner</a> | <a href="http://en.wikipedia.org/wiki/Alien_(film)" target="_blank">Alien + Aliens</a></li>
<li><strong>Places</strong>: <a href="http://www.flickr.com/search/?q=Toronto" target="_blank">Toronto</a></li>
</ul>