<h3>Summary</h3>
<div>
<p>As an IT Project Lead (and sometimes developer) at Student Trip! I took part in an awesome experience of helping to create their Student Trip! Portal. In technical terms, you could say I was the Product Manager for this new project.</p> 
<p>Working closely with the lead UI/UX in-house expert and other business stakeholders (for requirements, features and buy-in), we were able to bring together a number of drafts that would later become the first iteration and released version of the portal. All pen/pencil sketches were me - I have a thing about doing things by hand.</p>
</div>

<figure class="third">
    <a href="http://dummyimage.com/600x200/000/fff"><img src="http://dummyimage.com/600x200/000/fff"/></a>
    <a href="http://dummyimage.com/600x200/000/fff"><img src="http://dummyimage.com/600x200/000/fff"/></a>
    <a href="http://dummyimage.com/600x200/000/fff"><img src="http://dummyimage.com/600x200/000/fff"/></a>
</figure>
<figure class="third">
    <a href="http://dummyimage.com/600x200/000/fff"><img src="http://dummyimage.com/600x200/000/fff"/></a>
    <a href="http://dummyimage.com/600x200/000/fff"><img src="http://dummyimage.com/600x200/000/fff"/></a>
    <a href="http://dummyimage.com/600x200/000/fff"><img src="http://dummyimage.com/600x200/000/fff"/></a>
</figure>