<h3>Summary</h3>
<div>
<p>This sequence based product is a Windows 7 Phone game based on the idea of matching images in an increasing sequence (up and to the right). The app itself didn't do that well in the marketplace but was an extremely great resource into the product lifecycle and Product Management</p>
<p>Users are required to tap each blue tile in order before they're allowed to move on to the next level. They can then review their stats and compare it to their friends and the general public.</p>
</div>

<figure class="third">  
  <a href="/images/products/sequent/sequet_tiles_icon.png"><img src="/images/products/sequent/sequet_tiles_icon.png"/></a>
  <a href="/images/products/sequent/sequet_tiles_tiles.png"><img src="/images/products/sequent/sequet_tiles_tiles.png"/></a>
  <a href="/images/products/sequent/sequet_tiles_stats.png"><img src="/images/products/sequent/sequet_tiles_stats.png"/></a>
</figure>