<h3>Summary</h3>
<div>
<p>With over 10K downloads and 450 reviews with an average rating of 4.5 out of 5, WordsPlus is possibly the most fun, most charming and most connected word search game for BlackBerry® 10. Certified Built for BlackBerry and Voted finalist in 2013 BlackBerry Developer Community for Best Scoreloop Integrated Game.</p>
<p>I was responsibile for all UI/UX and overall app development, where some snippets of open source code were modified and integrated into the code base where required.</p>
</div>
<div>
<p><strong>Related Post:</strong><a href="{{site.url}}/post_name.html" title="Post Name" target="_blank">The Product Management of WordsPlus</a></p>
</div>

<figure class="third">  
  <a href="/images/products/wordsplus/WordsPlus_v2a.png"><img src="/images/products/wordsplus/WordsPlus_v2a.png"/></a>
  <a href="/images/products/wordsplus/WordsPlus_v2b.png"><img src="/images/products/wordsplus/WordsPlus_v2b.png"/></a>
  <a href="/images/products/wordsplus/WordsPlus_v3a.png"><img src="/images/products/wordsplus/WordsPlus_v3a.png"/></a>
</figure>
<figure class="third">
  <a href="/images/products/wordsplus/WordsPlus_v6.5b.png"><img src="/images/products/wordsplus/WordsPlus_v6.5b.png"/></a>
  <a href="/images/products/wordsplus/WordsPlus_v6.5c.png"><img src="/images/products/wordsplus/WordsPlus_v6.5c.png"/></a>
  <a href="/images/products/wordsplus/WordsPlus_v3b.png"><img src="/images/products/wordsplus/WordsPlus_v3b.png"/></a>
</figure>
<figure>
  <a href="/images/products/wordsplus/WordsPlus_feature_image.png"><img src="/images/products/wordsplus/WordsPlus_feature_image.png"/></a>
</figure>