<h3>Student Trip! Portal</h3>
<blockquote><strong>Eric Nowina - Freelance User Experience Architect</strong>
  </br></br>Jason and I came to S-Trip! around the same time and after quickly finding his way around the company and it's systems he became an invaluable resource. What I most appreciated was his cool and logical approach to product development, not to mention his extensive technical wherewithal.
  </br></br>In the time since we worked together Jason has always been a friendly and reliable resource whenever I need to pick someone's brain. I'm really thankful for that. 
  </br>- January 7, 2013
</blockquote>

<h3>WordsPlus</h3>
<blockquote>
  <strong>Great App!</strong>
  </br>Just played first game, easy and fun! Considering buying the full version!!
</blockquote>
<blockquote>
  <strong>Good</strong>
  </br>I like this game. It's everything it says. No bugs, no problems. It's something all ages can enjoy. :-)
</blockquote>
<blockquote>
  <strong>Nice Game</strong>
  </br>The game is fun, like the word of the day concept.
</blockquote>
<blockquote>
  <strong>Wonderful</strong>
  </br>Entertainment of high quality. Most games out there is really not worth something, but im very impress it works fabulous on my Z10.
</blockquote>

<h3>Website Development</h3>
<blockquote><strong>Karen Rebecca Black - Client</strong>
  </br></br>I hired Jason to build the back end of an add-on to my Fat Rock site after a very frustrating experience trying to work with a freelancer overseas through an outsourcing site. Jason gracefully stepped in and took over without much more than a few emails to outline the project. He was organized, extremely easy to communicate with, quick, yet flexible with my schedule - and always delivered exactly on the dates we agreed. Jason's work on the project was seamless.
  </br></br>[...] I'd hire him again in a heartbeat: he's fantastic. And most importantly? I trust him. Please feel free to contact me directly if you have any questions at all. 
  </br>- November 6, 2010
</blockquote>

